# --- RAG core ---
sentence-transformers
faiss-cpu
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
llama-cpp-python
huggingface_hub
numpy

# --- Ingestion ---
requests

# --- API & Frontend ---
fastapi
uvicorn
pydantic
streamlit
